body {
  background-color: #ddf3f5;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 50px;
}

.top {
  font-size: 2rem;
  padding-top: 100px;
}

.title {
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 4.1rem;
  /*color: #364f6b;*/
  color: #112d4e;
  padding-bottom: 50px;
}

textarea {
  margin-left: 40px;
  border-radius: 8px;
  border: 2px solid #48466d;
  position: relative;
}

input {
  border: 2px solid #48466d;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  margin-left: 40px;
}

.submit_btn {
  margin: 30px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  background: darkcyan;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submit_btn:hover {
  background: teal;
  text-decoration: none;
}

.mid {
  margin-bottom: 40px;
}
